{% extends 'base.html' %}
{% load static %}
{% block title %}Editar Contrato{% endblock %}
{% block content %}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h2 class="mb-4 text-primary text-center">Editar Contrato</h2>

            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                <!-- Campos para edição -->
                <div class="card mb-2 shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 col-md-6">
                                {{ form.data_inicio.label_tag }}
                                <input type="date" class="form-control" id="{{ form.data_inicio.id_for_label }}" name="{{ form.data_inicio.html_name }}" value="{{ form.data_inicio.value|date:'Y-m-d' }}" required>
                            </div>

                            <div class="col-12 col-md-2">
                                <label for="id_numero_parcelas" class="form-label">Parcelas</label>
                                <input type="number" class="form-control" id="id_numero_parcelas" name="numero_parcelas" value="{{ form.numero_parcelas.value }}">
                            </div>
                            

                            <div class="col-12 col-md-6">
                                {{ form.data_vencimento.label_tag }}
                                <input type="date" class="form-control" id="{{ form.data_vencimento.id_for_label }}" name="{{ form.data_vencimento.html_name }}" value="{{ form.data_vencimento.value|date:'Y-m-d' }}" required>
                            </div>

                            <div class="col-12 col-md-3">
                                <label for="id_semanas" class="form-label">{{ form.dias_semana.label }}</label>
                                <select id="id_semanas" name="dias_semana" class="form-select">
                                    <option value="seg">Segunda</option>
                                    <option value="ter">Terça</option>
                                    <option value="qua">Quarta</option>
                                    <option value="qui">Quinta</option>
                                    <option value="sex">Sexta</option>
                                    <option value="sab">Sábado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                                                                                                                            
<!-- Valor da Parcela -->
<div class="col-12 col-md-6">
    <label for="id_valor_parcelado" class="form-label">Valor da Parcela</label>
    <input type="text" class="form-control" id="id_valor_parcelado" name="valor_parcelado" value="{{ emprestimo.valor_parcelado }}" readonly>
</div>



                <!-- Se o usuário for admin, exibir campos de Grupo e Usuário -->
                {% if request.user.is_superuser %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 col-md-6">
                                {{ form.grupo.label_tag }}
                                {{ form.grupo }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form.usuario.label_tag }}
                                {{ form.usuario }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="mt-4 text-center">
                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                        <button type="submit" class="btn btn-primary px-4 me-md-2">Salvar Alterações</button>
                        <a href="{% url 'PELFCRED_APP:lista_emprestimos' %}" class="btn btn-secondary px-4">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- JavaScript para atualizar o campo de usuário -->
{% if request.user.is_superuser %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function updateUsuarios() {
            var grupoSelect = document.getElementById('id_grupo');
            var usuarioSelect = document.getElementById('id_usuario');
            var grupoId = grupoSelect.value;

            // Limpar as opções atuais do usuário
            usuarioSelect.options.length = 0;

            if (grupoId) {
                fetch("{% url 'PELFCRED_APP:ajax_load_usuarios' %}?grupo_id=" + grupoId)
                .then(response => response.json())
                .then(data => {
                    var usuarios = data.usuarios;

                    // Adiciona a opção vazia
                    var optionEmpty = document.createElement('option');
                    optionEmpty.value = "";
                    optionEmpty.text = "Selecione um usuário";
                    usuarioSelect.add(optionEmpty);

                    usuarios.forEach(function(usuario) {
                        var option = document.createElement('option');
                        option.value = usuario.id;
                        option.text = usuario.username;
                        usuarioSelect.add(option);
                    });

                    // Selecionar o usuário atual, se existir
                    var usuarioAtual = "{{ form.instance.usuario.id }}";
                    if (usuarioAtual) {
                        usuarioSelect.value = usuarioAtual;
                    }
                });
            } else {
                // Se nenhum grupo foi selecionado
                var optionEmpty = document.createElement('option');
                optionEmpty.value = "";
                optionEmpty.text = "Selecione um grupo primeiro";
                usuarioSelect.add(optionEmpty);
            }
        }

        // Listener para o campo grupo
        var grupoSelect = document.getElementById('id_grupo');
        grupoSelect.addEventListener('change', updateUsuarios);

        // Atualizar usuários ao carregar a página
        updateUsuarios();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const numeroParcelasInput = document.getElementById('id_numero_parcelas');
        const valorParceladoDisplay = document.getElementById('id_valor_parcelado');
        const valorTotal = {{ emprestimo.valor_total|default:0 }};

        function recalcularParcela() {
            const numeroParcelas = parseInt(numeroParcelasInput.value) || 1;
            const valorParcela = (valorTotal / numeroParcelas).toFixed(2);
            valorParceladoDisplay.value = `R$ ${valorParcela}`;
        }

        numeroParcelasInput.addEventListener('input', recalcularParcela);
        recalcularParcela(); // Calcular o valor inicial ao carregar a página
    });
</script>

{% endif %}

{% endblock %}