<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Clientes, Contratos e Totais</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 8px; line-height: 1.4; color: #333; max-width: 1200px; margin: 0 auto; padding: 10px; }
        table { width: 100%; border-collapse: collapse; margin-bottom: 5px; }
        th, td { border: 1px solid #ddd; padding: 2px; text-align: left; }
        th { background-color: #f2f2f2; font-weight: bold; }
        h2, h3, h4 { margin-bottom: 2px; color: #2c3e50; }
        .cliente-info { background-color: #f9f9f9; padding: 4px; margin-bottom: 5px; width: 48%; display: inline-block; vertical-align: top; margin-right: 1%; }
        .clientes-container { display: flex; flex-wrap: wrap; justify-content: space-between; }
    </style>
</head>
<body>
<h2>Relatório Geral</h2>
<h2>Totais Gerais</h2>
    <table>
        <tr>
            <th>Total Clientes</th>
            <th>Total Saída</th>
            <th>Total Entrada</th>
            <th>Total Juros a Receber</th>
            <th>Total Juros Recebidos</th>
            <th>Total Contratos</th>
        </tr>
        <tr>
            <td>{{ total_geral.total_clientes }}</td>
            <td>R$ {{ total_geral.total_investido|floatformat:2 }}</td>
            <td>R$ {{ total_geral.total_recebido|floatformat:2 }}</td>
            <td>R$ {{ total_geral.total_a_receber|floatformat:2 }}</td>
            <td>R$ {{ total_geral.total_juros_recebidos|floatformat:2 }}</td>
            <td>{{ total_geral.total_emprestimos }}</td>
        </tr>
    </table>
    {% for cliente in clientes %}
    <div class="cliente-info">
        <h3>
            {% if cliente.nome %}{{ cliente.nome }}{% endif %}
            {% if cliente.apelido %}({{ cliente.apelido }}){% endif %}
            {% if cliente.cpf %} | CPF: {{ cliente.cpf }}{% endif %}
            {% if cliente.data_registro %} | Registro: {{ cliente.data_registro|date:"d/m/Y" }}{% endif %}
            {% if cliente.bloqueado is not None %} | Status: {% if cliente.bloqueado %}<span style="color: red;">Inativo</span>{% else %}<span style="color: green;">Ativo</span>{% endif %}{% endif %}
        </h3>
            {% if cliente.outro_doc or cliente.cnpj %}
            {% if cliente.outro_doc %}<strong>Outro Doc.:</strong> {{ cliente.outro_doc }}{% endif %} {% if cliente.cnpj %}{% if cliente.outro_doc %}{% endif %}<strong>CNPJ:</strong> {{ cliente.cnpj }}{% endif %}
        {% endif %}
        <div>
        {% if cliente.telefone or cliente.telefone2 or cliente.telefone2_vinculo %}
            {% if cliente.telefone %}<strong>Telefone:</strong> {{ cliente.telefone }}{% endif %}
            {% if cliente.telefone2 %}{% if cliente.telefone %}{% endif %}<strong>Telefone 2:</strong> {{ cliente.telefone2 }}{% endif %}
            {% if cliente.telefone2_vinculo %}{% if cliente.telefone or cliente.telefone2 %}{% endif %}<strong>Telefone 2 Vinculo:</strong> {{ cliente.telefone2_vinculo }}{% endif %}
        {% endif %}  
        {% if cliente.email %}<strong>E-mail:</strong> {{ cliente.email }}{% endif %}
        </div>
        <div>
        {% if cliente.endereco or cliente.numero_endereco or cliente.complemento %}<strong>Endereço:</strong> {% if cliente.endereco %}{{ cliente.endereco }}{% endif %}{% if cliente.numero_endereco %}, {{ cliente.numero_endereco }}{% endif %}{% if cliente.complemento %} - {{ cliente.complemento }}{% endif %}
        {% endif %} 
        {% if cliente.cep or cliente.bairro %}
            {% if cliente.cep %}<strong>CEP:</strong> {{ cliente.cep }}{% endif %}
            {% if cliente.bairro %}{% if cliente.cep %} {% endif %}<strong>Bairro:</strong> {{ cliente.bairro }}{% endif %}
        {% endif %} 
        {% if cliente.cidade or cliente.uf %}
            {% if cliente.cidade %}<strong>Cidade: </strong>{{ cliente.cidade }}{% endif %}
            {% if cliente.uf %}{% if cliente.cidade %} - {% endif %}{{ cliente.uf }}{% endif %}
        </div>
        {% endif %}
        {% if cliente.grupo %}<strong>Grupo:</strong> {{ cliente.grupo.name }}{% endif %} | 
        {% if cliente.usuario %}<strong>Usuário:</strong> {{ cliente.usuario.username }}{% endif %}

        <h4>Contratos</h4>
        {% if cliente.emprestimo_set.all %}
        <table>
            <tr>
                <th>ID</th>
                <th>Capital</th>
                <th>Taxa</th>
                <th>Juros</th>
                <th>Total</th>
                <th>Saldo</th>
                <th>Registro</th>
                <th>Vencimento</th>
                <th>Renovação</th>
            </tr>
            {% for contrato in cliente.emprestimo_set.all %}
            <tr>
                <td>{{ contrato.id }}</td>
                <td>R$ {{ contrato.capital|floatformat:2 }}</td>
                <td>{{ contrato.taxa_juros|floatformat:0 }}%</td>
                <td>R$ {{ contrato.calcular_valor_juros|floatformat:2 }}</td>
                <td>R$ {{ contrato.valor_total|floatformat:2 }}</td>
                <td>R$ {{ contrato.saldo_devedor|floatformat:2 }}</td>
                <td>{{ contrato.data_inicio|date:"d/m/Y" }}</td>
                <td>{{ contrato.data_vencimento|date:"d/m/Y" }}</td>
                <td>{% if contrato.renovado %}{{ contrato.data_renovacao|date:"d/m/Y H:i" }}{% else %}Não renovado{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Sem contratos</p>
        {% endif %}
    </div>
    {% endfor %}
    </div>
</body>
</html>