<!DOCTYPE html>
<html>
<head>
    <title>Excluir Cliente</title>
</head>
<body>
    {% extends 'base.html' %}

{% block title %}Excluir Cliente{% endblock %}

{% block content %}
    <h2>Excluir Cliente</h2>
    <p>Tem certeza de que deseja excluir o cliente <strong>{{ cliente.nome }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Exclusão</button>
    </form>
    <a href="{% url 'PELFCRED:lista_clientes' %}"><button>Cancelar</button></a>
{% endblock %}
</body>
</html>
