{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Renovar Empréstimo</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Informações do Contrato</h5>
            <p><strong>Cliente:</strong> {{ emprestimo.cliente.nome }}</p>
            <p><strong>Saldo Atual:</strong> R$ {{ saldo_devedor|floatformat:2 }}</p>
        </div>
    </div>

    <form method="post" class="mt-4">
        {% csrf_token %}

        <div class="form-group">
            <label for="nova_taxa_juros">Taxa de Juros (%):</label>
            <input type="number" step="0.01" id="nova_taxa_juros" name="nova_taxa_juros" value="{{ emprestimo.taxa_juros }}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="capital_adicional">Saída (R$):</label>
            <input type="number" step="0.01" id="capital_adicional" name="capital_adicional" class="form-control" value="0">
        </div>
        <div class="form-group">
            <label for="parcelas">Número de Parcelas:</label>
            <input type="number" id="parcelas" name="parcelas" required class="form-control" value="{{ emprestimo.numero_parcelas }}">
        </div>
        <div class="form-group">
            <label for="frequencia">Frequência:</label>
            <select id="frequencia" name="frequencia" class="form-control">
                <option value="diaria" {% if emprestimo.frequencia == 'diaria' %}selected{% endif %}>Diária</option>
                <option value="semanal" {% if emprestimo.frequencia == 'semanal' %}selected{% endif %}>Semanal</option>
                <option value="quinzenal" {% if emprestimo.frequencia == 'quinzenal' %}selected{% endif %}>Quinzenal</option>
                <option value="mensal" {% if emprestimo.frequencia == 'mensal' %}selected{% endif %}>Mensal</option>
            </select>
        </div>
        <div class="form-group" id="dias_semana_div" style="display: none;">
            <label for="dias_semana">Semana:</label>
            <select id="dias_semana" name="dias_semana" class="form-control">
                <option value="seg" {% if 'Segunda-feira' in emprestimo.get_dias_semana_display %}selected{% endif %}>Segunda</option>
                <option value="ter" {% if 'Terça-feira' in emprestimo.get_dias_semana_display %}selected{% endif %}>Terça</option>
                <option value="qua" {% if 'Quarta-feira' in emprestimo.get_dias_semana_display %}selected{% endif %}>Quarta</option>
                <option value="qui" {% if 'Quinta-feira' in emprestimo.get_dias_semana_display %}selected{% endif %}>Quinta</option>
                <option value="sex" {% if 'Sexta-feira' in emprestimo.get_dias_semana_display %}selected{% endif %}>Sexta</option>
                <option value="sab" {% if 'Sábado' in emprestimo.get_dias_semana_display %}selected{% endif %}>Sábado</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="novoSaldo">Novo Saldo (R$): </label>   
            <input type="text" id="novoSaldo" name="novoSaldo" class="form-control" readonly>

        </div>
        <button type="submit" class="btn btn-primary">Renovar Empréstimo</button>
    </form>

    <!-- Script para calcular o novo saldo -->
    <script>
        const novaTaxaInput = document.getElementById('nova_taxa_juros');
        const capitalAdicionalInput = document.getElementById('capital_adicional');
        const novoSaldoDisplay = document.getElementById('novoSaldo');  // Correção no ID
        const frequenciaSelect = document.getElementById('frequencia');
        const diasSemanaDiv = document.getElementById('dias_semana_div');
        const saldoDevedorAtual = parseFloat("{{ saldo_devedor }}");  // Pegando o saldo atual vindo da view

        function toggleDiasSemana() {
            if (frequenciaSelect.value === 'semanal') {
                diasSemanaDiv.style.display = 'block';
            } else {
                diasSemanaDiv.style.display = 'none';
            }
        }
    
        function calcularNovoSaldo() {
            const novaTaxa = parseFloat(novaTaxaInput.value) || 0;
            const capitalAdicional = parseFloat(capitalAdicionalInput.value) || 0;
            const novoSaldo = (saldoDevedorAtual + capitalAdicional) * (1 + (novaTaxa / 100));
            novoSaldoDisplay.value = 'R$ ' + novoSaldo.toFixed(2);
        }
    
        novaTaxaInput.addEventListener('input', calcularNovoSaldo);
        capitalAdicionalInput.addEventListener('input', calcularNovoSaldo);
        frequenciaSelect.addEventListener('change', toggleDiasSemana);

        // Executar na carga inicial da página
        toggleDiasSemana();
        calcularNovoSaldo();  // Executa o cálculo logo ao carregar a página
    </script>

{% endblock %}
